/* card hover style  */
.card-hover:hover .change-background{
    background-color: #f28500;
    color:#ffffff
}
.card-hover:hover .image-transform{
    transform: scale(1.05);
    transition-duration: 1.5s;
}
.hover-grid:hover .hover-look{
    transform: scaleX(1.08);
    transition-duration: 1s;
}
/* our policy design  */
#box-style:hover{
    transform: scale(1.04);
}
/* contact us design  */
#contact-box:hover #icon-transform{
    transform: rotate(360deg);
    transition-duration: .8s;
}