/* all button color hover design */
#delete-button:hover{
    background-color: #81745d;
}
#accept-button:hover{
    background-color: #6495ed;
}
#pending-button:hover{
    background-color: #fdcf6c;
}
#table-row:hover{
    background-color: #f4f0ec;
}